const { EmbedBuilder } = require("discord.js");
const db = require("../../../Database/noprefix.js");
const { ObjectId } = require("mongoose").Types;

module.exports = {
  name: "iri",
  cooldown: "5",
  run: async (client, message, args) => {

    if(!args[0]) return message.reply("give a args bruh")
    
    const result = await db.findOne({ ClientId: client.user.id });

let dbGot = await db.findOne({ClientId: client.user.id});
let removed = dbGot.noprefixids.filter(x => x.id != args[0])
dbGot.noprefixids = removed
dbGot.save();
   
  }
}